[changelog]
header = "# Changelog du Package\n"
body = """
{% if version %}\
    ## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
    ## [Dernières modifications]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | upper_first }}
    {% for commit in commits %}
        - {{ commit.message | upper_first }} ({{ commit.id | truncate(length=7, end="") }})\
    {% endfor %}
{% endfor %}\n
"""

[git]
conventional_commits = true
# C'est ici que la magie opère : 
# git-cliff filtrera les commits qui touchent le dossier où se trouve le CHANGELOG.md
include_path = ["codeql-custom-queries-*/**"]
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^docs", group = "Documentation" },
    { message = "^chore", skip = true },
]